<p id="notice"><%= notice %></p>

<h1>Listing Grads</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grads.each do |grad| %>
      <tr>
        <td><%= grad.name %></td>
        <td><%= grad.role %></td>
        <td><%= image_tag grad.photo.thumb %></td>
        <td><%= link_to 'Show', grad, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_grad_path(grad), method: :post, class: 'btn btn-default' %></td>
        <td>
          <% if grad.working? %>
          <button class="btn btn-default" disabled>Working</button>
          <% elsif grad.active? %>
          <%= link_to 'Get Away', get_away_grad_path(grad), method: :post, class: 'btn btn-warning' %>
          <% else %>
          <%= link_to 'Come Back', come_back_grad_path(grad), method: :post, class: 'btn btn-success' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
