<p id="notice"><%= notice %></p>

<h1>Listing Grads</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Photo</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @grads.each do |grad| %>
      <tr>
        <td><%= grad.name %></td>
        <td><%= grad.role %></td>
        <td><%= image_tag grad.photo.thumb %></td>
        <td><%= link_to 'Show', grad, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_grad_path(grad), class: 'btn btn-default' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
