<p id="notice"><%= notice %></p>

<h1>Listing Pairs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Grad1</th>
      <th>Grad2</th>
      <th>Photos</th>
      <th>Pair name</th>
      <th>Pair time</th>
      <th>Status</th>
      <th>Story</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pairs.each do |pair| %>
      <tr>
        <td><%= pair.grad1_id %></td>
        <td><%= pair.grad2_id %></td>
        <td><%= image_tag pair.grad1.photo.small_thumb, style: 'float: left' %><%= image_tag pair.grad2.photo.small_thumb %></td>
        <td><%= pair.pair_name %></td>
        <td><%= pair.pair_time %></td>
        <td><%= pair.status %></td>
        <td><%= pair.story %></td>
        <td><%= link_to 'Show', pair, class: 'btn btn-default' %></td>
        <td>
          <% if pair.on_beach? %>
          <%= link_to 'Kick Off', kick_off_pair_path(pair), class: 'btn btn-primary' %>
          <% elsif pair.working? %>
          <%= link_to 'Dest Check', desk_check_pair_path(pair), class: 'btn btn-success' %>
          <% else %>
          Waiting!
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pairs %>
