<div style="float: left">
  <dt><string>Name:</string> <%= @pair.grad1.name %></dt>
  <dt><strong>Role:</strong> <%= @pair.grad1.role %></dt>
  <dt><strong>Photo:</strong> <%= image_tag @pair.grad1.photo %></dt>
</div>

<div>
  <dt><string>Name:</string> <%= @pair.grad2.name %></dt>
  <dt><strong>Role:</strong> <%= @pair.grad2.role %></dt>
  <dt><strong>Photo:</strong> <%= image_tag @pair.grad2.photo %></dt>
</div>

<%= form_tag(check_in_pair_path(@pair), class: 'form-inline') do %>
    <div class="form-group">
      <%= label_tag :story, 'Story:' %>
      <%= text_field_tag :story, nil, class: 'form-control', placeholder: 'The Story number' %>
    </div>

    <%= submit_tag "GO !", class: 'btn btn-primary' %>
<% end %>

<br>
<%= link_to "Back", root_path, class: 'btn btn-default' %>